.admin-dashboard {
  overflow-y: scroll;
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  text-align: center;
}
.body {
  display: block;
}
.song-management {

  text-align: left;
}

.song-management ul {
  list-style-type: none;
  padding: 0;
}

.song-management li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.admin-dashboard h1{
  top: 0;
}

.title-new-track{
  top: 0;
}