/* trackManagement.css */

.track-management {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list {
  flex: 1;

  max-width: 40px;
  max-height: 40px;
}

.add {
  flex: 1;
  margin-left: 20px;
}

.list-track {
  list-style: none;
  padding: 0;
}

.list-track li {
  margin-bottom: 5px;
  padding: 3px;
  background-color: #f9f9f9;
  border-radius: 5px;
  flex-direction: column;
}

.btn-track button {
  margin-right: 10px;
}

.title-new-track {
  margin-bottom: 10px;
}

.form-admin-track {
  display: flex;
  flex-direction: column;
}

.form-to-track {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-to-track[type="file"] {
  padding: 0;
}

.form-to-track[type="file"]:hover {
  cursor: pointer;
}

input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

